/*navbvar*/

.navbar-nav {
    justify-content: right;
    margin-right: 90px;
    font-size: 16px;
}

.navbar-nav .nav-item {
    margin: 0 1px;
}

.navbar-brand {
    display: flex;
    align-items: right;
    margin-left: 100px;
}

.navbar-nav .nav-link {
    color: white; 
    transition: color 0.3s; 
}

.navbar-nav .nav-item.active .nav-link {
    color: #ffc107; 
}

.navbar-logo {
    width: 120px;
    height: auto; 
}


.navbar-text {
    margin-left: auto;
    margin-top: 10px;
    font-size: 20px;
    color: white;
}

.navbar-nav .nav-item:last-child .nav-link {
    color: #16c244;
}

/* carousel */

.carousel-item img {
    max-height: 600px; /* Adjust the max height as needed */
}


.carousel-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px;
    color: white;
    text-align: right;
    padding-left: 10px;
}
/*Tamaños y tipos de texto para carousel*/
.carousel-caption h1 {
    font-size: 30px;
}
h6 {
    font-weight: normal;
}
/*Boton invisible Quiero ser un orador*/
.btn-invisible-bg {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-top: 50px;
}
/*Boton verde Comprar Tiokets*/
.btn-green-bg {
    background-color: #28a745;
    border: none;
    color: #fff;
    margin-top: 50px;
}

/*principal*/

.card-body.text-left {
    text-align: left;
}

.card-button {
    margin-top: 10px; 
    font-size: 14px; 
    padding: 2px 10px; 
}

#img-final {
    display: flex;
    background-color: #333; 
    color: white; 
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#img-final img {
    max-width: 50%; 
    margin: 0; 
}

#img-final div {
    flex: 1; 
    text-align: left; 
    padding: 15px;
}

#img-final h6 {
font-size: 14px;
font-weight: 400;
}

button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 5px;
}
/* Subrayado con puntos en CHARLA IGNITE*/
h5 span {
    text-decoration: underline dotted; 
}

/*form*/

form {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }

.btn-custom {
    background-color: #a5d16b; /* Cambia esto al color verde claro que desees */
    color: #fff; /* Cambia el color del texto si es necesario */
    /* Ajusta la altura del botón */
    width: 1%; /* Cambia la altura según tus preferencias */
    /* Puedes agregar otros estilos personalizados según tus preferencias */
}

/* Estilo personalizado para alinear el texto a la izquierda */
.text-custom {
    text-align: left;
    /* Puedes agregar otros estilos personalizados según tus preferencias */
}

.bg-celeste-oscuro {
    background-color: #0c485f; /* Puedes cambiar este valor al tono de celeste oscuro que desees */
}