/*navbvar*/

@media (max-width: 768px) {
    /* Estilos específicos para dispositivos móviles (puedes ajustar el ancho máximo según tus necesidades) */
    .navbar-custom {
        height: auto; /* Permite que la altura sea automática en dispositivos móviles */
    }
}

.navbar-nav {
    justify-content: right;
    margin-right: 90px;
    font-size: 16px;
}

.navbar-nav .nav-item {
    margin: 0 1px;
}

.navbar-brand {
    display: flex;
    align-items: right;
    margin-left: 100px;
}

.navbar-nav .nav-link {
    color: white; 
    transition: color 0.3s; 
}

.navbar-nav .nav-item.active .nav-link {
    color: #ffc107; 
}

.navbar-logo {
    width: 120px;
    height: auto; 
}


.navbar-text {
    margin-left: auto;
    margin-top: 10px;
    font-size: 20px;
    color: white;
}

.navbar-nav .nav-item:last-child .nav-link {
    color: #16c244;
}

.navbar-custom {
    height: 60px !important;
}





/* carousel */

.carousel-item img {
    max-height: 600px; /* Adjust the max height as needed */
}


.carousel-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px;
    color: white;
    text-align: right;
    padding-left: 10px;
}
/*Tamaños y tipos de texto para carousel*/
.carousel-caption h1 {
    font-size: 30px;
}
h6 {
    font-weight: normal;
}
/*Boton invisible Quiero ser un orador*/
.btn-invisible-bg {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-top: 50px;
}
/*Boton verde Comprar Tiokets*/
.btn-green-bg {
    background-color: #28a745;
    border: none;
    color: #fff;
    margin-top: 50px;
}

/*principal*/

#contenido-backround {
    margin-top: 70px; /* Puedes ajustar el valor según tus necesidades */
}

.card-body.text-left {
    text-align: left;
}

.card-button {
    margin-top: 10px; 
    font-size: 14px; 
    padding: 2px 10px; 
}

#img-final {
    display: flex;
    background-color: #333; 
    color: white; 
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#img-final img {
    max-width: 50%; 
    margin: 0; 
}

#img-final div {
    flex: 1; 
    text-align: left; 
    padding: 15px;
}

#img-final h6 {
font-size: 14px;
font-weight: 400;
}

button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 5px;
}
/* Subrayado con puntos en CHARLA IGNITE*/
h5 span {
    text-decoration: underline dotted; 
}

/*form*/

form {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }

.btn-custom {
    background-color: #a5d16b; /* Cambia esto al color verde claro que desees */
    color: #fff; /* Cambia el color del texto si es necesario */
    /* Ajusta la altura del botón */
    width: 1%; /* Cambia la altura según tus preferencias */
    /* Puedes agregar otros estilos personalizados según tus preferencias */
}

/* Estilo personalizado para alinear el texto a la izquierda */
.text-custom {
    text-align: left;
    /* Puedes agregar otros estilos personalizados según tus preferencias */
}

.bg-celeste-oscuro {
    background-color: #0c485f; /* Puedes cambiar este valor al tono de celeste oscuro que desees */
}


.custom-bg {
    background-color: rgba(173, 216, 230, 0.5); /* Color celeste con opacidad (0.5) */
    color: rgb(14, 0, 0); /* Texto blanco */
    border: none; /* Sin borde */
}

.btn-custom {
    background-color: transparent; /* Fondo transparente */
    color: green; /* Texto en verde */
    border: 2px solid transparent; /* Borde transparente */
}

.btn-custom {
    background-color: #a5d16b; /* Fondo verde original */
    color: rgb(252, 250, 250); /* Texto en blanco */
    border: 2px solid transparent; /* Borde transparente original */
}

.btn-custom:hover {
    background-color: #007d3c75 !important; /* Cambia el fondo a un verde más oscuro con !important */
    
}

.recuadro {
    padding: 10px;
    text-align: center;
    margin: 10px;
    background-color: rgba(240, 240, 240, 0.7);
    border: 2px solid transparent;
    /* Borde transparente */
}

.recuadro-1 {
    border-color: #ffaa00;
    /* Color de borde amarillo para recuadro 1 */
    background-color: rgba(255, 193, 7, 0.7);
}

.recuadro-2 {
    border-color: #00a2b8;
    /* Color de borde azul para recuadro 2 */
    background-color: rgba(23, 162, 184, 0.7);
}

.recuadro-3 {
    border-color: #28a745;
    /* Color de borde verde para recuadro 3 */
    background-color: rgba(40, 167, 69, 0.7);
}

/*Footer*/


.gradient-footer {
    background: linear-gradient(135deg, #1c3544 ,   #214d68  );
    color: white; /* Color de texto en el footer */
    padding: 20px 0; /* Espaciado interior del footer */
    margin-top: 20px;
}
